.container{
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff); 
  background: linear-gradient(to right, #3a7bd5, #00d2ff); 
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 12px;
}

table {
  border-collapse: collapse;
  border-radius: 15px;
}

.inputtable td {
    padding: 10px;
  }


.outputtable{
  width: 100%;
}

.outputtable td{
  border: 1px solid black;
}

#holdImg{
  border: 1px solid black;
}

#dropZone {
  background-color: rgb(0, 80, 252);
  border: 1px dashed;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 15px;
  color: white;
  }